@import "../../../../styles/colors.module.scss";
.navDiv {
  padding: 20px 30px;
}
.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: $primary;
}
.menu {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 20px;

  .menuItem {
    font-weight: bold;
    transition: 0.4s;

    &:hover {
      color: $light-dark;
    }
  }
  .logout {
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      color: red;
    }
  }
  button {
    background-color: $primary;
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: $dark;
    font-weight: bold;
    transition: 0.4s;

    &:hover {
      background-color: $light-dark;
      color: $light;
    }
  }
}
