@import "../../../../styles/colors.module.scss";
.thumbWithImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .userImg {
    object-fit: cover;
  }
}
.thumbWithoutImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $primary;
  color: white;
}
