.card {
  width: 70px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 3px 5px;

  .title {
    font-weight: bold;
  }
  p {
    font-size: 10px;
    text-align: start;
    line-height: 12px;
  }
  .mediaImg {
    width: 60px;
  }
  .mediaCategory {
    text-align: center;
  }
}
