@import "../../../../styles/colors.module.scss";

.releasesSection {
  margin: 10px;
  width: 400px;
  text-align: center;

  h4 {
    font-weight: bold;
  }
}
.content {
  position: sticky;
  top: 20px;
}
.releasesTable {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $dark;
  text-align: left;

  td,
  th {
    padding: 5px;
    border: 0.5px solid $light-dark;
    vertical-align: middle;
    font-size: 12px;
    width: 100%;
  }
  th {
    width: 100%;
    font-size: 15px;
    background-color: $light;
    cursor: pointer;

    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      color: $dark;

      .arrow {
        font-size: 18px;
      }
    }
  }
}
.notReleases {
  border: 2px solid $light-dark;
  padding: 10px;
}

@media (max-width: 420px) {
  .releasesSection {
    width: 260px;
  }
}
