.leftSide {
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/bg-home.png");
  background-position: center;
}

@media (max-width: 545px) {
  .leftSide {
    background-size: cover;
    height: 50%;
  }
}
