@import "../../../../styles/colors.module.scss";

.watchList {
  margin: 5px;
}
.categorySlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.categoryBtn {
  width: 100px;
  background-color: white;
  border: none;
  border-bottom: 2px solid $light-dark;
}
.statusSelect {
  margin-bottom: 5px;
}