@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Recursive:wght@400;700&family=Roboto:wght@400;700&family=Teko:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}
h3 {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
